# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Test files
*.test.*
*.spec.*
coverage/

# Documentation
*.md
docs/

# Docker
docker-compose*.yml
Dockerfile*
.dockerignore

# Environment
.env
.env.*
.env.local

# Misc
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
temp/
dist-package*.json
